body {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.allContent{
    display: flex;
    flex-wrap: wrap;
}


.image{
    width: inherit;
    align-items: center;

}

.mainSection{
    background-color: khaki;
    width: 60%;
    height: 1000px;
    padding: 20px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.asideClass{
    padding:50px;
    width:40%;
    align-items: center;
    height: 1000px;
    background-color: rgb(63, 231, 133);
    box-sizing: border-box;
}


/*Form area*/
.inputtag{
    width: 250px;
    border-radius: 5px;
    padding: 5px;
    margin-bottom:20px;
    box-sizing: border-box;
}

.mainButtom{
    margin-top: 18px;
    width:265px;
    padding:5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.legend{
    font-weight: bold;
    font-size: 40px;
    margin-bottom:20px;
    box-sizing: border-box;
}
/*Form area*/